.App-Header {
    background-color: rgba(59, 40, 5, 0.644);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.App-Header li {
    display: inline-block;
    font-size: 20;
    padding: 5px;
}